<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="backgroundHome">
<div>
    <h1 class="h1home">Bienvenido</h1>
</div>
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
</div>

<div class="divClass divFloatSea2" id="div1" style="background-image:url('https://mexnube.com/seayou/1si.jpg')"></div>
<div class="divClass divFloatSea2" id="div2" style="background-image:url('https://mexnube.com/seayou/2si.jpg')"></div>
<div class="divClass divFloatSea4" id="div3" style="background-image:url('https://mexnube.com/seayou/3si.jpg')"></div>
<div class="divClass divFloatSea4" id="div4" style="background-image:url('https://mexnube.com/seayou/4si.jpg')"></div>
<div class="divClass divFloatSea8" id="div5" style="background-image:url('https://mexnube.com/seayou/5si.jpg')"></div>
<div class="divClass divFloatSea8" id="div6" style="background-image:url('https://mexnube.com/seayou/6si.jpg')"></div>
<div class="divClass divFloatSea8" id="div7" style="background-image:url('https://mexnube.com/seayou/7si.jpg')"></div>
<div class="divClass divFloatSea8" id="div8" style="background-image:url('https://mexnube.com/seayou/8si.jpg')"></div>


<%= render "main/components/features" %>
