<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mb-6 text-center"
style="
margin-top: 130px;
    max-width: 1024px;
    margin: auto;
    border-top: 0.5px #27b0de solid;
    
"
>

  <h2 class="mb-6 mt-6">Soluciones</h2>

  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-chalkboard-teacher fa-2x"></i></div>
        <h4 class="mt-4">Video conferencias</h4>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-object-group fa-2x"></i></span>
      <h4 class="mt-4">Imparte clases</h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-pencil-alt fa-2x"></i></span>
      <h4 class="mt-4">Comparte tu diapositiva</h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-users fa-2x"></i></span>
      <h4 class="mt-4">Programa reuniones</h4>
    </div>
  </div>
</div>




<div class="mt-8 mb-6 text-center" style="
    background: #ffffff;
    color: #494f57;
    padding: 25px;
    border-top: 0.5px #27b0de solid;
    max-width: 1024px;
    margin: auto;

">

  <h3 class="mb-6 mt-6" style="
">Tener una clase con tus alumnos nunca fue tan fácil</h3>

  <div class="row feature-stamp">
    <div class="col-lg-6 col-md-6">
      <div class="feature-item" style="
    /* padding-bottom: 15px; */
    /* padding-right: 15px; */
    /* padding-left: 15px; */
">
<img src="https://mexnube.com/bigblue/containers/rn_1.jpg" style="
    width: 400px;    
border-radius: 5px;
    box-shadow: 3px 4px 10px 0px #1a86f973;
">
      </div>
    </div>
    <div class="col-lg-6 col-md-6" style="
    text-align: left;
    padding: 20px;
">
<h2 class="heading">Clase virtual</h2><div class="text"><div class="text"><p>Imparte clases hasta 2 horas de conexión.</p><ul><li>Conectate con tus alumnos y comparte tu pantalla.</li><li>Interactua con ellos sin necesidad de estarte conectando cada 45 minutos.</li><li>Toma el control de tu tiempo y horario.</li><li>Compra un paquete con nosotros sólo si quieres extender tu tiempo de sesión.</li></ul></div></div>
    </div>
    
    
  </div>
</div>


<div class="mt-8 mb-6 text-center" style="
    background: #ffffff;
    color: #494f57;
    padding: 25px;
    border-top: 0.5px #27b0de solid;
    max-width: 1024px;
    margin: auto;

">

  <h3 class="mb-6 mt-6" style="
">Programa una conferencia sin limite de tiempo para tu empresa</h3>

  <div class="row feature-stamp">
    <div class="col-lg-6 col-md-6">
      <div class="feature-item" style="
    /* padding-bottom: 15px; */
    /* padding-right: 15px; */
    /* padding-left: 15px; */
">
<img src="https://mexnube.com/bigblue/containers/rn_2.jpg" style="
    width: 400px;
    border-radius: 5px;
    box-shadow: 3px 4px 10px 0px #1a86f973;
">
      </div>
    </div>
    <div class="col-lg-6 col-md-6" style="
    text-align: left;
    padding: 20px;
">
<h2 class="heading">Conferencia virtual</h2><div class="text"><div class="text"><p>Contactanos y te ofreceremos un paquete que se adapte a tus necesidades.</p><ul><li>Dale formalidad a tus reuniones.</li><li>Interactua con ellos sin necesidad de estarte conectando cada 45 minutos.</li><li>Toma el control de tu tiempo y horario.</li><li>Compra un paquete con nosotros sólo si quieres extender tu tiempo de sesión.</li></ul></div></div>
    </div>
    
    
  </div>
</div>

<div class="backgroundHome" style="
    border-bottom: solid 1px black;
">
<div class="mb-6 text-center" style="
    max-width: 1024px;
    margin: auto;

    /* background: #ffffff; */
    color: white;
    padding: 25px;
    /* border-top: 0.5px #27b0de solid; */
">

  <h3 class="mb-6 mt-6" style="
">Reuniones</h3>

  <div class="row feature-stamp">
    <div class="col-lg-6 col-md-6">
      <div class="feature-item" style="
    /* padding-bottom: 15px; */
    /* padding-right: 15px; */
    /* padding-left: 15px; */
">


<img src="https://mexnube.com/bigblue/containers/rn_3.jpg" style="
    border-radius: 5px;
    box-shadow: 3px 4px 10px 0px #1a86f973;
    width: 50%;
"><img src="https://mexnube.com/seayou/5si.jpg" style="
    border-radius: 5px;
    box-shadow: 3px 4px 10px 0px #1a86f973;
    width: 50%;
"><img src="https://mexnube.com/seayou/2si.jpg" style="
    border-radius: 5px;
    box-shadow: 3px 4px 10px 0px #1a86f973;
    width: 50%;
"><img src="https://mexnube.com/bigblue/containers/rn_4.jpg" style="
    border-radius: 5px;
    box-shadow: 3px 4px 10px 0px #1a86f973;
    width: 50%;
">
      </div>
    </div>
    <div class="col-lg-6 col-md-6" style="
    text-align: left;
    padding: 20px;
">
<h2 class="heading">Llama y comparte</h2><div class="text"><div class="text"><p>Contactanos y te ofreceremos un paquete que se adapte a tus necesidades.</p><ul><li>Dale formalidad a tus reuniones.</li><li>Interactua con ellos sin necesidad de estarte conectando cada 45 minutos.</li><li>Toma el control de tu tiempo y horario.</li><li>Compra un paquete con nosotros sólo si quieres extender tu tiempo de sesión.</li></ul></div></div>
    </div>
    
    
  </div>
</div>
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"></use>
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"></use>
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"></use>
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"></use>
</g>
</svg>
</div>
</div>